* {
  box-sizing: border-box;
}
body, html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: url('paper.png') repeat;
}
main {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
#left, #right {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 8px;
}
#middle {
  padding: 8px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
#left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 1fr;
}
#right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 4fr 3fr;
}
.border {
  border: 3px solid black;
}