* {
  box-sizing: border-box;
}
body, html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: url('paper.png') repeat;
}
main {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}